#buttonOne{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }
  #buttonTwo{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }
  #buttonThree{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }
  #buttonFour{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }
  #buttonFive{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }
  #buttonSix{
    float:left;
    color: red;
    background-color:blue;
    border-width:3px;
    border-color:green;
  }